<header class="w-full h-[40px] p-[10px] bg-black flex items-center">
  <div class="relative text-2xl w-full text-white"> Counter App </div>
  <button class="relative text-white"> Home </button>
</header>
<div class="absolute w-full h-full bg-gray-700 ">
  <div class="mt-10 flex justify-center">
    <div class="w-20 h-20 bg-white rounded-full flex justify-center p-6 font-bold text-2xl">0</div>
  </div>
  <div class="mt-10 flex justify-center gap-10 ">
    <button class="bg-gray-300 w-28 h-8 rounded-full hover:bg-green-400 font-bold">Increment</button>
    <button class="bg-gray-300 w-28 h-8 rounded-full hover:bg-green-400 font-bold">Decrement</button>
    <button class="bg-gray-300 w-28 h-8 rounded-full hover:bg-green-400 font-bold">Reset</button>
  </div>
</div>